<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원제 게시판</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
          crossorigin="anonymous"></script>

  <style>
  </style>

  <script>
  </script>
</head>
<body>

<header>

  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top" th:fragment="navigator">
    <div class="container-fluid">
      <a href="#" class="navbar-brand" th:href="@{/board/list}">회원제게시판</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active">메뉴 1</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">메뉴 2</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">메뉴 3</a>
        </li>
      </ul>
      <div th:if="${session.userId == null}">
        <a href="#" class="btn btn-outline-success" th:href="@{/auth/signin}">로그인</a>
      </div>
      <div th:unless="${session.userId == null}">
        <span class="navbar-text me-3" th:text="|${session.userName} 님 반갑습니다|"></span>
        <button type="button" class="btn btn-outline-warning" id="btn-signOut">로그아웃</button>
      </div>
    </div>

    <script>
      const btnSignOut = document.querySelector("#btn-signOut");
      btnSignOut.addEventListener("click", function() {
          const confirmed = confirm("로그아웃 하시겠습니까?");

          if (confirmed) {
              location.href = "/auth/signout";
          }
      });
    </script>
  </nav>

  <div class="container mt-6" th:fragment="jumbotron(page)">
    <div class="p-5 rounded-3 bg-secondary-subtle">
      <h1 class="text-center">게시판 <span th:text="${page}"></span> 페이지</h1>
    </div>
  </div>

</header>

</body>
</html>











